<% if current_user.has_role('Admin') %>
  <div class="content-box">
    <div class="content-box-header">
      <h3 style="cursor: s-resize;">
        Classified Funds
      </h3>
      <div class="clear"></div>
    </div>
    <div class="content-box-content">
      <div style="display: block;" class="tab-content default-tab scrollDiv">
      <%end%>
      <div id="header">
        <%= render :partial => "header"%>
      </div>
      <div id="filterDiv" style="width:15%; border-top:1px solid #e5e5e5;  ">
        <%= render :partial => "filter" %>
      </div>
      <div style="float: left;width:80%;*width:auto;">
        <table style="margin-top:-4px;" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td valign="top">
              <div style="width:100%; text-align:left;padding:10px 0px 0px 0px;border-bottom:1px solid #e5e5e5;">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                  <%if current_user.has_role('Admin')%>
                    <br/>
                    <br/>
                  <%else%>
                    <td valign="top">
                      <div id="buyers"  <% if @type && (@type == 'buy') %> class="selectedTabs" <% else %> class="secondaryTabs" <% end %> > <%= link_to "Buyers",:controller => 'classified_funds', :type => 'buy', :browse_by => nil , :asset=>nil, :geography=>nil%></div>
                    </td>
                    <td valign="top">
                      <div id="sellers" <% if @type && (@type == 'sell') %> class="selectedTabs" <% else %> class="secondaryTabs" <% end %> > <%= link_to "Sellers",:controller => 'classified_funds', :type => 'sell', :browse_by => nil , :asset=>nil, :geography=>nil%></div>
                    </td>
                  <%end%>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td valign="top" align="left">
              <div class="managersDiv" style="width: 100%; ">
                <div id="classifiedsDivBuyer"  <% if not @type.eql?'buy' %> style="display:none" <% end %>>
                  <% if @type.eql?'buy' %>
                    <%= render :partial => "results" %>
                  <% end %>
                </div>
                <div id="classifiedsDivSeller" <% if not @type.eql?'sell' %> style="display:none" <% end %>>
                  <% if @type.eql?'sell' %>
                    <%= render :partial => "new_funds_to_sell" %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="clear"></div>
      <% if current_user.has_role('Admin') %>
      </div></div></div>
<%end%>

