<div class="content-box">
  <div class="content-box-header">
    <h3 style="cursor: s-resize;">
      Editing transaction_type
    </h3>
    <div style="float: right;margin: 10px;">
      <%= link_to 'All Transaction Types', new_transaction_type_path, :class => "button" %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="content-box-content">
    <div style="display: block;" class="tab-content default-tab scrollDiv">

      
        <% form_for(@transaction_type) do |f| %>
          <%= f.error_messages %>

          <p class="questionhead">
            <%= f.label :transaction_type %><br />
            <%= f.text_field :transaction_type %>
          </p>
          <p class="questionhead">
            <%= f.label :asset_id %><br />
            <%= f.text_field :asset_id %>
          </p>
          <p><br/>
              <%= f.submit "Update" , :class => "button" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
