<div style="margin-top:10px;margin-bottom:10px;">
  <p align="center"><% if @order.order_type == "sign_up" %>You have been registered as a <%= @user.plan.role.title.downcase %>.<br/><% end %> Please select your online payment method below. We offer secure online payment through PayPal.</p>
  <p align="center">
    <%= image_tag "paypal.gif" %>
  </p>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :first_name %>
  <%= f.hidden_field :last_name %>
  <%= f.hidden_field :amount %>
  <%= f.hidden_field :order_type %>
  <%= hidden_field_tag 'companyIdToSell', @companyIdToSell %>
  <table align="center" style="border:1px solid #e6e6e6; width:420px;">
    <tr>
      <th colspan="2" style="background-color:#c6c6c6;">
        <h3 style="color:#fff;">Payment Detail</h3>
      </th>
    </tr>
    <tr>
      <th class="payment_label">User Name: </th>
      <td><%= @user.login %></td>
    </tr>
    <tr>
      <th class="payment_label">Payment Type: </th>
      <td><% if @companyIdToSell.blank? %><%= @order.order_type=="membership_upgrade" ? "Membership Upgrade" : "Sign Up" %><% else %> Directs/Co-investments to sell <% end %></td>
    </tr>
    <tr>
      <th class="payment_label">First Name: </th>
      <td><%= @user.profile.firstname %></td>
    </tr>
    <tr>
      <th class="payment_label">Last Name: </th>
      <td><%= @user.profile.lastname %></td>
    </tr>
    <% if @companyIdToSell.blank? %>
      <% if  not params[:upgrade_plan] %>
        <tr>
          <th class="payment_label">Role: </th>
          <td><%= @user.plan.role.title %></td>
        </tr>
        <tr>
          <th class="payment_label">Plan: </th>
          <td><%= @order.plan.name %></td>
        </tr>
        <tr>
          <th class="payment_label">Duration: </th>
          <td><%= @order.plan.duration %></td>
        </tr>
      <%end%>
    <% end %>
    <% if params[:upgrade_plan] %>
      
      <tr>
        <th class="payment_label">Role: </th>
        <td><%= (@order.plan.role).title %></td>
      </tr>
      <tr>
        <th class="payment_label">Plan: </th>
        <td><%=@order.plan.name %></td>

      </tr>
      <tr>
        <th class="payment_label">Duration: </th>
        <td><%if @order.plan.duration=="14 month" %><%="12 months + 2 months free"%><%else%><%=@order.plan.duration%><%end%></td>
      </tr>
      <tr>
        <th class="payment_label">Amount: </th>
        <td>$<%= @order.plan.fee %> USD</td>
      </tr>
    <% end %>
    <tr>
      <% if not params[:upgrade_plan] %>
        <th class="payment_label">Amount: </th>
        <td>$<% if @companyIdToSell.blank? %><%= @order.plan.fee %><% else %> <%= @order.amount %> <% end %>USD</td>
      <%end%>
    </tr>
    <tr>
      <th class="payment_label"><%= f.label :card_type %> </th>
      <td><%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %></td>
    </tr>
    <tr>
      <th class="payment_label"><%= f.label :card_number %></th>
      <td><%= f.text_field :card_number %></td>
    </tr>
    <tr>
      <th class="payment_label"><%= f.label :card_verification, "Card Verification Value (CVV)" %></th>
      <td><%= f.text_field :card_verification %></td>
    </tr>
    <tr>
      <th class="payment_label"><%= f.label :card_expires_on %></th>
      <td class="payment_field"><%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10) %></td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  function cancelAction() {
    if (confirm("Are you sure?")) {
      window.location = '<%= cancel_registration_url(:id => @user.id) %>'
    }
  }
</script>