<% if not current_user.has_role('Admin') %>
  <table class="listing_user_side" width="100%" cellpadding="0px" cellspacing="0px;">
    <tr>
      <td colspan="9" align="center" style="font-size:14px;background-color:#fff;border:0px;">Listing Funds</td>
    </tr>
    <tr><td style="background-color:#fff;">&nbsp;</td></tr>
  <% else %>
    <table class="listing" width="100%" cellpadding="0px" cellspacing="0px;">
    <% end %>
    <tr>
      <% if current_user.has_role('Admin') %>
        <th>Id</th>
      <% end %>
      <th>Name</th>
      <th>Manager Name</th>
      <th>Asset Class</th>
      <th>Geography</th>
      <th>Year</th>
      <th>Type</th>
      <th>Size</th>
      <% if current_user.has_role('Admin') %>
        <th>User</th>
      <% end %>
      <th width="80px">Options</th>
    </tr>

    <% if @funds and @funds.size > 0 %>
      <% @funds.each do |fund| %>
        <tr align="left">
          <% if current_user.has_role('Admin') %>
            <td><%=fund.id%></td>
          <% end %>
          <td><%=fund.name%></td>
          <td><%=fund.manager.name%></td>
          <td><%=fund.manager.primary_asset.name%></td>
          <td><%=fund.manager.geography.name%></td>
          <td><%=fund.year%></td>
          <td><%=fund.fund_type%></td>
          <td><%=number_to_currency(fund.size)%>&nbsp;<%= get_currency(fund.currency)%> Million</td>
          <% if current_user.has_role('Admin') %>
            <td><%=fund.user.login%></td>
          <% end %>
          <td>
            <% if fund.status == 'approved' %>
              <%= link_to (image_tag "edit_new.gif", :alt => "Edit", :title => "Edit"), edit_fund_path(fund) %>
              <% if fund.user_id == current_user.id or current_user.has_role('Admin') %>
                <%= link_to (image_tag "delete.png", :alt => "Delete", :title => "Delete", :size => "20x20"), fund, :confirm => 'Are you sure you want to delete this fund?', :method => :delete %>
              <% end %>
            <% end %>
            <% if current_user.has_role('Admin') || fund.user.id==current_user.id %>
              <% if fund.status == 'deleted' %>
                <%= link_to (image_tag "delete.png", :alt => "Delete", :title => "Delete", :size => "20x20", :style => "margin-left:20px;"), {:controller => "funds", :action => "approve_fund", :id => fund.id}, :confirm => 'Are you sure you want to approve this fund?' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" align="center">No Funds Available</td>
      </tr>
    <% end %>

  </table>
    <div class="clear"></div>